html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("email-pattern/email-pattern.png");
    background-size: cover;
}

.card-custom {
    background: rgba(255, 255, 255, 0.75);
}

/* Styling the wikipedia results card so that the card has a max height and scrolls when results are displayed */
#wiki-card {
    max-height: 500px !important;
    overflow: scroll !important;
}

.form-custom {
    background: rgba(255, 255, 255, 0.75);
    padding: 15px 5px;
    margin-top: 10px;
}

iframe {
    display: block;
    margin: 0 auto;
}

.header-custom {
    margin-bottom: 10px;
}

.wiki-container {
    font-family: “Linux Libertine, Georgia, Times, serif”;
}

.wiki-url:hover {
    color: rgb(61, 61, 61) !important;
}

.main-content {
    flex: 1 0 auto;
}

.footer-css {
    flex-shrink: 0;
}


