html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1 0 auto;
}

.footer-css {
    flex-shrink: 0;
  }

<<<<<<< HEAD
.container{
    width:100%;
}
=======
/* .container{
    width:100%;
} */
>>>>>>> 81288279ca8e9aa85887b02ad3088fc3dbe452f8
/* Test comment */
